{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - Add a Bill
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'add_edit_forms.css' %}">
{% endblock %}

{% block pagetitle %}
	<h1><strong> Add a Bill </strong></h1>
{% endblock %}

{% block body_block %}
	     <div class="content_body">
            <form id="customer_form" method="post" action="{% url 'imaging_system_app:add-bill' %}", enctype="multipart/form-data",
			data-update-projects="{% url 'imaging_system_app:get-projects' %}" novalidate>
            {% csrf_token %}
			<div>
				<label for="customer_id">Customer</label> <br></br>  
				<select name="customer_id" id="customer_id">
					<option value="" selected disabled hidden>Select a customer</option>
					{% for c in customers %}
						<option value={{c}}>{{c.cust_name}}</option>
					{% endfor %}
				</select>
			</div> <br></br> 
			<label for="project_id">Project</label>   
			<div id="select_project"><br>
				<select name="project_id" id="project_id">
					<option value="" selected disabled hidden>Select a project</option>
				</select>
			</div>
			<div id="add-other-projects"></div>
			<br />
			<div class="new_entry" id="select-more-projects">
				Bill more projects<br />
			</div>
			<div class="new_entry" id="delete-project">
				Remove last project<br />
			</div>
            <br />
			{% for hidden in billform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in billform.visible_fields %}
                <div>
                    {{ field.errors }}
                    {{ field.help_text }}<br />
                </div>
                <div>
                    {{ field }}<br /><br />
                </div>
                <div></div>
            {% endfor %}
                <br />
			{% for hidden in projectbillbridgeform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in projectbillbridgeform.visible_fields %}
                <div>
                    {{ field.errors }}
                    {{ field.help_text }}<br />
                </div>
                <div>
                    {{ field }}<br /><br />
                </div>
                <div></div>
            {% endfor %}
                <button type="submit" name="submit" class="save_changes">
                        <p class="buttonText">Create New Bill</p>
                </button>
                <div></div>
        </form>
        <br />
        <br />
        </div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
    $("#customer_id").change(function () {
      var url = $("#customer_form").attr("data-update-projects");
      var customer_id = $(this).val();

      $.ajax({
        url: url,
        data: {
          'customer_id': customer_id 
        },
        success: function (data) {
          $("#project_id").html(data);
        }
      });

    });
	</script>
	
	<script>
        document.getElementById("select-more-projects").
            addEventListener("click", function () {
				let newForm = document.getElementById("select_project");
				let cloneForm = newForm.cloneNode(true);
				document.getElementById("add-other-projects").appendChild(cloneForm);
        });
    </script>
	
	<script>
        document.getElementById("delete-project").
            addEventListener("click", function () {
				let child = document.getElementById("add-other-projects").lastChild;
				let parent = child.parentNode;
				parent.removeChild(child);
        });
    </script>
	
	
{% endblock %}