{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
- Add a Project
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'add_edit_forms.css' %}">
{% endblock %}

{% block pagetitle %}
<h1><strong> Add a Project </strong></h1>
{% endblock %}

{% block body_block %}
<ul class="content_list">
    <div>
        <form id="project_form" method="post" action="{% url 'imaging_system_app:add-project' %}" ,
            enctype="multipart/form-data" data-update-workers="{% url 'imaging_system_app:get-workers' %}" novalidate>
            {% csrf_token %}
            <h2>Customer</h2>
			<div>
				<select name="customer_id" id="customer_id">
					<option value="" selected disabled hidden>Select a customer</option>
					{% for c in all_customer %}
						<option value={{c}}>{{c.cust_name}}</option>
					{% endfor %}
				</select>
			</div> <br></br>
			<label for="customer_id">Create a new Customer</label> <br></br>
				<div class="new_entry">
					<a href="/imaging_system_app/add-customer">New customer</a><br />
				</div>

            <h2>Worker</h2>
			<div>
				<select name="worker_id" id="worker_id">
					<option value="" selected disabled hidden>Select a worker</option>
				</select>
			</div>
            <div></div>
            <h2>Specimen preparation record</h2>
            {% for hidden in projectform.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in projectform.visible_fields %}
            <div>
                {{ field.errors }}
                {{ field.help_text }}<br />
            </div>
            <div>
                {{ field }}<br /><br />
            </div>
            <div></div>
            {% endfor %}
            <h2>Billing</h2>
            {% for hidden in projectservicesbridgeform.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in projectservicesbridgeform.visible_fields %}
            <div>
                {{ field.errors }}
                {{ field.help_text }}<br />
            </div>
            <div>
                {{ field }}<br /><br />
            </div>
            <div></div>
            {% endfor %}
            <br />
            <button type="submit" class="save_changes" name="submit"  >
                <p class="buttonText">Create New Project</p>
            </button>
            <div></div>
        </form>
    </div>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
    $("#customer_id").change(function () {
      var url = $("#project_form").attr("data-update-workers");
      var customer_id = $(this).val();

      $.ajax({
        url: url,
        data: {
          'customer_id': customer_id 
        },
        success: function (data) {
          $("#worker_id").html(data);
        }
      });

    });
	</script>


{% endblock %}