<!DOCTYPE html>
{% load static %}

<html>

<head lang="en">

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    {% block css_block %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta charset="UTF-8" />

    <title>
        GIF
        {% block title_block %}
        {% endblock %}
    </title>

</head>

<body>
    <div id="left" class="side column">
        <div class="top-left header">
            <img src="{% static 'images/logo.png' %}" type="image/png" class="logo">
        </div>

        <div class="bottom">
            <div id="Sidenav" class="sidenav">

                <a class="sidenav_item" href="/imaging_system_app">Home</a>

                <a class="sidenav_item" href="/imaging_system_app/projects/">Projects</a>

                <a class="sidenav_item" href="/imaging_system_app/services/">Services</a>

                <a class="sidenav_item" href="/imaging_system_app/customers/">Customers</a>

                <a class="sidenav_item" href="/imaging_system_app/bills/">Bills</a>

                <a class="sidenav_item" href="/imaging_system_app/statistics/">Statistics</a>

                <a class="log_out" href="{% url 'imaging_system_app:logout' %}">Log out</a>
            </div>

        </div>
    </div>



    <div id="right" class="main column">
        <div class="top-right header">
            <div class="pagetitle">
                {% block pagetitle %}
                {% endblock %}
            </div>
        </div>
        <div class="bottom">

            <div class="body_block">
                {% block body_block %}

                {% endblock %}
            </div>
        </div>
    </div>

</body>

</html>