<!DOCTYPE html>
{% load static %}

<html>

<head lang="en">

    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    {% block css_block %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <meta charset="UTF-8" />

    <title>
        GIF
        {% block title_block %}
        {% endblock %}
    </title>

</head>

<body>
    <div class="header">
        <div class="pagetitle">
            {% block pagetitle %}
            {% endblock %}
        </div>

        <div id="logo">
            <img src="{% static 'images/logo.png' %}" type="image/png" class="logo">
        </div>
    </div>

    <div id="Sidenav" class="sidenav">

        <a href="/imaging_system_app">Home</a><br />

        <a href="/imaging_system_app/services/">Services</a><br />

        <a href="/imaging_system_app/projects/">Projects</a><br />

        <a href="/imaging_system_app/customers/">Customers</a><br />

        <a href="/imaging_system_app/bills/">Bills</a><br />
    </div>

    <div class="body_block">
        {% block body_block %}

        {% endblock %}
    </div>
</body>

</html>