{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
- Bill {{ bill.bill_id }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">

<style>
	.content {
		margin-left: 3%;
		font-family: 'Poppins';
	}

	.section {
		background-color: #efefef;
		border: 5px solid #efefef;
		border-radius: 10px;
		margin-top: 0.5%;
		width: 80%;
		padding-left: 1%;
		padding-right: 2%;
		padding-bottom: 1%;
	}

	.info {
		margin-top: 1%;
		background-color: white;
		text-align: center;
		width: 100%;
		border: 5px solid white;
		border-radius: 10px;
		display: flex;
	}

	.total {
		color: #0071BC;
		text-align: center;
	}

	.flex_column {
		height: 100%;
		flex-direction: column;
		flex: 1 1 0px;
		text-align: left;
		width: 50%;
		margin-right: 2%;
		flex-wrap: wrap;
	}

	.flex_column_email {
		height: 100%;
		flex-direction: column;
		flex: 1.5 1 0px;
		text-align: left;
		width: 50%;
		margin-right: 2%;
	}

	.flex_row {
		width: 80%;
		flex-direction: row;
		flex: 1 1 auto;
		text-align: left;
		height: 50%;
		margin-bottom: 2%;
	}

	.header {
		font-weight: bold;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Poppins';
	}
</style>
{% endblock %}

{% block pagetitle %}
<h1><strong> Bill #{{ bill.bill_id }} </strong></h1>
{% endblock %}

{% block body_block %}
<div class="content">
	<h2>Bill ID: {{ bill.bill_id }} — {{ bill.billing_date }}</h2>
	<div class="section">
		<h2>Bill Information</h2>
		<div class="info">
			<div class="flex_column">
				{% if bill.billing_address %}
				<div class="header">Invoice to:</div>
				<div>{{ bill.cust_id.cust_name }}</div>
				<div>{{ bill.billing_address }}</div>
				{% else %}
				<div class="header">Budget Holder:</div>
				<div>{{ bill.cust_id.cust_name }}</div>
				{% endif %}
			</div>
			<div class="flex_column">
				<div class="header">Period:</div>
				<div>{{start_date}} - {{end_date}}</div>
			</div>
			<div class="flex_column">
				<div class="header">Budget code:</div>
				<div>{{ bill.cust_id.cust_budget_code }}</div>
			</div>
		</div>
	</div>

	<div class="section">
        <h2>Workers</h2>
        <div class="info">
            <div class="flex_column">
                {% for w in workers %}
                    <div>{{ w }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

	<div class="section">
		<h2>Cost Breakdown</h2>
		<h3>Services</h3>
		<div class="info">
			{% for s in services %}
			{% if forloop.counter0|divisibleby:"4" %}
			<div class="flex_column">
				{% endif %}
				{% if s.units == 1.0 %}
				<div class="header">Project {{ s.project_id.project_id }}</div>
				<div>{{ s.service_id.name }}</div>
				<div>{{ s.units|floatformat:"0" }} {{s.service_id.unit_name}}:</div>
				<div>£{{ s.cost|floatformat:"2" }}</div>
				{% else %}
				{% if s.service_id.unit_name == "hour" %}
				<div class="header">Project {{ s.project_id.project_id }}</div>
				<div>{{ s.service_id.name }}</div>
				<div>{{ s.units }} {{s.service_id.unit_name}}s</div>
				<div>£{{ s.cost|floatformat:"2" }}</div>
				{% else %}
				<div class="header">Project {{ s.project_id.project_id }}</div>
				<div>{{ s.service_id.name }}</div>
				<div>{{ s.units|floatformat:"0" }} {{s.service_id.unit_name}}s</div>
				<div>£{{ s.cost|floatformat:"2" }}</div>
				{% endif %}
				{% endif %}
				<br>
				{% if forloop.counter|divisibleby:"4" %}
			</div>
			{% endif %}
			{% endfor %}
		</div>

		{% if bill.extra1_cost %}
		<div class="info">
			<div class="flex_column">
				<div class="header">{{ bill.extra1_name }}:</div>
				<div>£{{ bill.extra1_cost|floatformat:"2" }}</div>
			</div>
		</div>
		{% endif %}

		{% if bill.extra2_cost %}
		<div class="info">
			<div class="flex_column">
				<div class="header">{{ bill.extra2_name }}:</div>
				<div>£{{ bill.extra2_cost|floatformat:"2" }}</div>
			</div>
		</div>
		{% endif %}

	</div>
</div>
</div>

<div class="content">
	<div class="section total">
		<strong>
			<h1>Total - £{{ bill.total_cost|floatformat:"2" }}</h1>
		</strong>
	</div>
</div>
</div>
<br>

{% endblock %}