<!DOCTYPE html>
{% load static %}

<html>

<head lang="en">

    <meta charset="UTF-8" />

    <title>
        GIF - Bill {{ bill.bill_id }}
    </title>

</head>

<body>
    <div class="body_block">
        {% block body_block %}
		<div id="iii_logo">
			<img src="{% static 'images/iii_logo.png' %}" type="image/png">
		</div>
		<div id="logo">
			<center>
			<img src="{% static 'images/logo.png' %}" type="image/png" width="160" height="180">
			</center>
		</div>
		<div>
			<strong><center><h1>Electron Microsscopy Unit</h1><center></strong>
		</div>
		{% if bill.billing_address %}
			<div>
				<strong>Invoice to:</strong>
				</br>
				{{ bill.cust_id.cust_name }}
				</br>
				{{ bill.billing_address }}
			</div>
			</br>
		{% endif %}
		<div>
			{% if not bill.billing_address %}
				Budget holder: {{ bill.cust_id.cust_name }}
				</br>
			{% endif %}
			Period: {{start_date}} to {{end_date}}
			</br>
			Budget code: {{ bill.cust_id.cust_budget_code }}
		</div>
		</br>
		<div>
			Workers: {{ workers|join:" , " }}
		</div>
		</br>
		<div>
			<table>
				{% for s in services %}
				<tr>
					{% if s.units == 1.0 %}
						<td>{{ s.project_id.project_id }} - {{ s.service_id.name }} - {{ s.units|floatformat:"0" }} {{s.service_id.unit_name}}: £{{ s.cost|floatformat:"2" }}</td>
					{% else %}
						{% if s.service_id.unit_name == "hour" %}
							<td>{{ s.project_id.project_id }} - {{ s.service_id.name }} - {{ s.units }} {{s.service_id.unit_name}}s: £{{ s.cost|floatformat:"2" }}</td>
						{% else %}
							<td>{{ s.project_id.project_id }} - {{ s.service_id.name }} - {{ s.units|floatformat:"0" }} {{s.service_id.unit_name}}s: £{{ s.cost|floatformat:"2" }}</td>
						{% endif %}
					{% endif %}
				</tr>
				{% endfor %}
			</table>
		</div>
		<div>
			{% if bill.extra1_cost %}
				{{ bill.extra1_name }}: £{{ bill.extra1_cost|floatformat:"2" }}
				</br>
			{% endif %}
			{% if bill.extra2_cost %}
				{{ bill.extra2_name }}: £{{ bill.extra2_cost|floatformat:"2" }}
				</br>
			{% endif %}
		</div>
		<div>
			<strong><h1>Total - £{{ bill.total_cost|floatformat:"2" }}</h1></strong>
		</div>
		{% endblock %}
	</div>
</body>

</html>