{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - Bill {{ bill.bill_id }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
<h1><strong> Bill #{{ bill.bill_id }} </strong></h1>
{% endblock %}

{% block body_block %}
<div>
	<h2>{{ bill.billing_date }}</h2>
</div>
{% if bill.billing_address %}
<div>
	<strong>Billing address</strong>
	</br>
	{{ bill.cust_id.cust_name }}
	</br>
	{{ bill.billing_address }}
	</br>
</div>
</br>
{% endif %}
<div>
	{% if not bill.billing_address %}
	Budget holder: {{ bill.cust_id.cust_name }}
	</br>
	{% endif %}
	Period: {{start_date}} to {{end_date}}
	</br>
	Budget code: {{ bill.cust_id.budget_code }}
</div>
</br>
<div>
	Workers: {{ workers|join:" , " }}
</div>
</br>
<div>
	<table>
		{% for s in services %}
		<tr>
			{% if s.units == 1.0 %}
				<td>{{ s.units|floatformat:"0" }} {{s.service_id.unit_name}} of {{ s.service_id.name }}: £{{ s.cost|floatformat:"2" }}</td>
			{% else %}
				{% if s.service_id.unit_name == "hour" %}
					<td>{{ s.units }} {{s.service_id.unit_name}}s of {{ s.service_id.name }}: £{{ s.cost|floatformat:"2" }}</td>
				{% else %}
					<td>{{ s.units|floatformat:"0" }} {{s.service_id.unit_name}}s of {{ s.service_id.name }}: £{{ s.cost|floatformat:"2" }}</td>
				{% endif %}
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</div>
<div>
	<strong><h1>Grand Total: £{{ bill.total_cost|floatformat:"2" }}</h1></strong>
</div>

{% endblock %}