{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - Bills
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
	<h1><strong> Bills </strong></h1>
{% endblock %}

{% block body_block %}  
    
    <div class="action_bar">
        <div class="new_entry">
            <a href="/imaging_system_app/add-bill">New Bill</a><br />
        </div>
        
        <div class="search_bar">
            <input type="text" id="search_bar" placeholder="Search bills" id>
        </div>
    </div>

        <table class="tables">
            <tr>
                <th>ID</th>
                <th>Billing date</th>
                <th>Customer</th>
                <th>Total cost</th>
                <th></th>
            </tr>
            {% if bills %}
                {% for bill in bills %}
                    
                    <tr>
                        <td id="left_corner"> {{ bill.bill_id}}</td>
                        <td> {{ bill.billing_date}} </td>
                        <td> {{bill.cust_id}} </td>
                        <td> £{{bill.total_cost|floatformat:"2"}}</td>
                        <td> <a href="{% url 'imaging_system_app:bill-details' bill.bill_id  %}" class="table_buttons"> View</a></td>
                        <td id="right_corner"> <a href="{% url 'imaging_system_app:print-bill' bill.bill_id  %}" class="table_buttons"> Print </a></td>

                    </tr>  
                {% endfor %}
            
            {% else %}
                <a href="/">
                        <strong><h2>There are no bills present.</h2></strong> <br />
                </a>
            {% endif %}


{% endblock %}