{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - Customers
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
	<h1><strong> Customers </strong></h1>
{% endblock %}

{% block body_block %}  

    <div class="action_bar">
        <div class="new_entry">
            <a href="/imaging_system_app/add-customer">New customer</a><br />
        </div>
    </div>

    <div class="action_bar_search">
        <div class="search_bar">
            <form action="{% url 'imaging_system_app:customers' %}" method="post">
                {% csrf_token %}
                {% if query %}
                <input name="customer_query" id="customer_query" type="text" value={{ query }}>
                {% else %}
                <input name="customer_query" id="customer_query" type="text" placeholder=" Search for a customer..">
                {% endif %}
                <button type="submit" name="submit" class="submit_buttons">Search</button>
            </form>
        </div>
    </div>

       
            
    {% if customers %}
        <table class="tables">
            <tr>
                <th>Name</th>
                <th>Telephone number</th>
                <th>Budget code</th>
                <th></th>
            </tr>
                {% for c in customers %}
                    
                    <tr>
                        <td id="left_corner"> {{ c.cust_name}}</td>
                        <td> +{{c.cust_tel_no}} </td>
                        <td> {{c.cust_budget_code}} </td>
                        <td> <a href="{% url 'imaging_system_app:edit-customer' c.cust_id %}" class="table_buttons"> Edit</a></td>
                        <td id="right_corner"> <a href="{% url 'imaging_system_app:customer-details' c.cust_id %}" class="table_buttons"> View </a></td>

                    </tr>  
                {% endfor %}
        </table>
    {% else %}
                <a href="/">
                    <div class="content_entry">
                        <strong><h2>There are no customers yet.</h2></strong> <br />
                    </div>
                </a>
    {% endif %}

{% endblock %}