{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - Customers
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'projects.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">   
{% endblock %}

{% block pagetitle %}
	<h1><strong> Customers </strong></h1>
{% endblock %}

{% block body_block %}  
    <ul class="content_list">
        <div>
            <button class="new_entry">New customer</button>
        </div>
        <div class="search_bar">
            <input type="text" id="search_bar" placeholder="Search customers" id>
        </div>    
        <table class="tables">
            <tr>
                <th>Name</th>
                <th>Telephone number</th>
                <th>Budget code</th>
                <th></th>
            </tr>
            {% if customers %}
                {% for c in customers %}
                    
                    <tr>
                        <td id="left_corner"> {{ c.cust_name}}</td>
                        <td> +{{c.cust_tel_no}} </td>
                        <td> {{c.cust_budget_code}} </td>
                        <td id="right_corner"> <button type="button" class="table_buttons"> Edit customer </button></td>
                    </tr>  
                {% endfor %}

            {% else %}
                <a href="/">
                    <div class="content_entry">
                        <li>
                        <strong><h2>There are no customers yet.</h2></strong> <br />
                        </li>
                    </div>
                </a>
            {% endif %}
        </table>

{% endblock %}