{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
- {{ customer.cust_name }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">

<style>
    .content {
        margin-left: 3%;
    }
    
    .section{
        background-color: #efefef;
        border: 5px solid #efefef;
        border-radius: 10px;
        margin-top: 0.5%;
        width: 80%;
        padding-left: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
    }

    .project_info {
        margin-top: 1%;
        background-color: white;
        width: 100%;
        text-align: center;
        border: 5px solid white;
        border-radius: 10px;
        display: flex;
        font-family: 'Poppins';
    }

    .flex_column {
        height: 100%;
        flex-direction: column;
        flex: 1 1 0px;
        text-align: left;
        width: 50%;
        margin-right: 2%;
    }
    
    .flex_column_email {
        height: 100%;
        flex-direction: column;
        flex: 2.5 1 0px;
        text-align: left;
        width: 50%;
        margin-right: 2%;
    }
    
    .flex_row {
        width: 80%;
        flex-direction: row;
        flex: 1 1 auto;
        text-align: left;
        height: 50%;
        margin-bottom: 2%;
    }

    .header {
        font-weight: bold;
    }
    
    h1, h2, h3, h4, h5, h6  {
        font-family: 'Poppins';
    }

</style>
{% endblock %}

{% block pagetitle %}
<h1><strong> {{ customer.cust_name }} </strong></h1>
{% endblock %}

{% block body_block %}
<div class="content">
    <div class="section">
        <h1>{{ customer.cust_name }}</h1>
        <div class="project_info">
            <div class="flex_column">
                <div class="header">Telephone number</div>
                <div>+{{ customer.cust_tel_no }}</div>
            </div>
            <div class="flex_column">
                <div class="header">Email</div>
                <div>{{ customer.cust_email }}</div>
            </div>
            <div class="flex_column">
                <div class="header">Budget code</div>
                <div>{{ customer.cust_budget_code }}</div>
            </div>
            <div class="flex_column">
                <div class="header">Customer type</div>
                <div>{{ customer.get_cust_type_display }}</div>
            </div>
        </div>
    </div>
    
    <div class="section">
        <h2>Workers</h2>
		<div class="new_entry">
			<a href="{% url 'imaging_system_app:add-worker' customer.cust_id %}">Add Worker</a><br />
		</div>
        <div class="project_info">
            <div class="flex_column">
                <div class="header">Name</div>
                {% for w in workers %}
                    <div>{{ w.worker_name }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header">Telephone Number</div>
                {% for w in workers %}
                    <div>+{{ w.worker_tel_no }}</div>
                {% endfor %}
            </div>
            <div class="flex_column_email">
                <div class="header">Email</div>
                {% for w in workers %}
                    <div>{{ w.worker_email }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header"><br></div>
                {% for w in workers %}
                    <div><a href="{% url 'imaging_system_app:edit-worker' w.worker_id %}"> Edit </a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% if projects %}
    <div class="section">
        <h2>Projects</h2>
        <div class="project_info">
            <div class="flex_column">
                <div class="header">Date</div>
                {% for p in projects %}
                    <div>{{ p.project_date }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header">Status</div>
                {% for p in projects %}
                    <div>{{ p.get_status_display }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header">Cost</div>
                {% for p in projects %}
                    <div>£{{ p.total|floatformat:"2" }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header"><br></div>
                {% for p in projects %}
                    <div><a href="{% url 'imaging_system_app:project-details' p.project_id %}"> View </a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if bills %}
    <div class="section">
        <h2>Bills</h2>
        <div class="project_info">
            <div class="flex_column">
                <div class="header">Date</div>
                {% for b in bills %}
                    <div>{{ b.billing_date }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header">Cost</div>
                {% for b in bills %}
                <div>£{{ b.total_cost|floatformat:"2" }}</div>
                {% endfor %}
            </div>
            <div class="flex_column">
                <div class="header"><br></div>
                {% for b in bills %}
                <div><a href="{% url 'imaging_system_app:bill-details' b.bill_id  %}" class="table_buttons"> View</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
<br>

{% endblock %}