{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - {{ customer.cust_name }}
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
	<h1><strong> {{ customer.cust_name }} </strong></h1>
{% endblock %}

{% block body_block %}
	<ul class="content_list">
		<h1>{{ customer.cust_name }}</h1>
		<table>
			<tr>
				<th>Telephone number</th>
				<td>{{ customer.cust_tel_no }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ customer.email }}</td>
			</tr>
			<tr>
				<th>Budget code</th>
				<td>{{ customer.budget_code }}</td>
			</tr>
			<tr>
				<th>Customer type</th>
				<td>{{ customer.get_cust_type_display }}</td>
			</tr>
		</table>
		<h2>Workers</h2>
		<table>
			<tr>
					<th>Name</th>
					<th>Telephone number</th>
					<th>Email</th>
			</tr>
				{% for w in workers %}
					<tr>
						<td>{{ w.worker_name }}</td>
						<td>{{ w.worker_tel_no }}</td>
						<td>{{ w.email }}</td>
					</tr>
				{% endfor %}
		</table>
		{% if projects %}
			<h2>Projects</h2>
			<table>
				<tr>
						<th>Date</th>
						<th>Status</th>
						<th>Cost</th>
				</tr>
					{% for p in projects %}
						<tr>
							<td>{{ p.project_id.project_date }}</td>
							<td>{{ p.project_id.get_status_display }}</td>
							<td>{{ p.total }}</td>
						</tr>
					{% endfor %}
			</table>
		{% endif %}
		{% if bills %}
			<h2>Bills</h2>
			<table>
				<tr>
						<th>Date</th>
						<th>Cost</th>
				</tr>
					{% for b in bills %}
						<tr>
							<td>{{ b.billing_date }}</td>
							<td>{{ b.total_cost }}</td>
						</tr>
					{% endfor %}
			</table>
		{% endif %}
	</ul>

{% endblock %}