{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
Project {{ project.project_id.project_id }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
<h1><strong> Update Project </strong></h1>
{% endblock %}

{% block body_block %}
<div>
    <h1>{{ project.project_id.cust_id.cust_name }} project {{ project.project_id.project_id }}</h1>
</div>
<div>
    <form id="project_forms" name="project_forms" method="post" , enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Customer</h2>
        {% for hidden in customerform.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in customerform.visible_fields %}
        <div>
            {{ field.errors }}
            {{ field.help_text }}<br />
        </div>
        <div>
            {{ field }}<br /><br />
        </div>
        <div></div>
        {% endfor %}
        <h2>Worker</h2>
        {% for hidden in workerform.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in workerform.visible_fields %}
        <div>
            {{ field.errors }}
            {{ field.help_text }}<br />
        </div>
        <div>
            {{ field }}<br /><br />
        </div>
        <div></div>
        {% endfor %}
        <h2>Specimen preparation record</h2>
        {% for hidden in projectform.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in projectform.visible_fields %}
        <div>
            {{ field.errors }}
            {{ field.help_text }}<br />
        </div>
        <div>
            {{ field }}<br /><br />
        </div>
        <div></div>
        {% endfor %}
        <br />
        <h2>Billing</h2>
        {% for hidden in projectbilldetailsform.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in projectbilldetailsform.visible_fields %}
        <div>
            {{ field.errors }}
            {{ field.help_text }}<br />
        </div>
        <div>
            {{ field }}<br /><br />
        </div>
        <div></div>
        {% endfor %}
        <br />
        <button type="submit" name="submit">
            <p class="buttonText">Update Project</p>
        </button>
    </form>
</div>

{% endblock %}