{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
    - Home
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
{% endblock %}

{% block pagetitle %}
	<h1><strong> Home </strong></h1>
{% endblock %}

{% block body_block %}  
<div class = columns>

    <div class="column1">
        <h2>Recent projects</h2>

        <table class="tables">

            {% if projects %}
                <tr>
                    <th >Date</th>
                    <th >Customer</th>
                    <th >Nr. of samples</th>
                    <th >Status </th>
                    <th></th>
                </tr>
                {% for p in projects %}
                    <tr>
                        <td id="left_corner"> {{p.project_date}} </td>
                        <td> {{p.cust_id.cust_name}} </td>
                        <td> {{p.num_samples}} </td>
                        <td> {{p.get_status_display}} </td>
                        <td></td>
                        <td> <a href="{% url 'imaging_system_app:edit-project' p.project_id %}" class="table_buttons"> Edit</a></td>
                        <td id="right_corner"> <a href="{% url 'imaging_system_app:project-details' p.project_id %}" class="table_buttons"> View </a></td>
                    </tr>
                {% endfor %}

            {% else %}
                <a href="/">
                    <div class="content_entry">
                        <strong>
                            <h2>There are no recent projects.</h2>
                        </strong> <br>
                    </div>
                </a>
            {% endif %}

        </table>
    </div>
    <div class="column2">
        <h2>Recent bills</h2>
            {% if bills %}
                <table class="tables">
                    <tr>
                        <th>ID</th>
                        <th>Billing date</th>
                        <th>Customer</th>
                        <th>Total cost</th>
                        <th></th>
                    </tr>
                    {% for bill in bills %}
                        <tr>
                            <td id="left_corner"> {{ bill.bill_id}}</td>
                            <td> {{ bill.billing_date}} </td>
                            <td> {{bill.cust_id}} </td>
                            <td> £{{bill.total_cost}}</td>
                            <td> <a href="{% url 'imaging_system_app:bill-details' bill.bill_id  %}" class="table_buttons"> View</a></td>
                            <td id="right_corner"> <a href="{% url 'imaging_system_app:print-bill' bill.bill_id  %}" class="table_buttons"> Print </a></td>

                        </tr>  
                    {% endfor %}
                </table>
            {% else %}
                    <a href="/">
                            <strong><h2>There are no bills present.</h2></strong> <br />
                    </a>
            {% endif %}

    </div>
</div>
{% endblock %}