<!DOCTYPE html>
{% load static %}

<html>

<head lang="en">

	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_register.css' %}">
	<meta charset="UTF-8" />

	<title>
		GIF - Login
	</title>

</head>

<body>
	<div class="centre_box">
		<h1>Login</h1>

		<form id="login_form" method="post" action="{% url 'imaging_system_app:login' %}">
			{% csrf_token %}
			Username:
			<br>
			<input type="text" name="username" value="" size="50" />
			<br />
			Password:
			<br>
			<input type="password" name="password" value="" size="50" />
			<br />
			<br>
			<div class="action_bar">
				<a href="javascript:{}" class="action_bar_item" onclick="document.getElementById('login_form').submit(); return false;">Login</a>
				<a href="{% url 'imaging_system_app:register' %}" class="action_bar_item">Register</a>
			</div>
		</form>
	</div>
</body>

</html>