{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
- Projects
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
<h1><strong> All projects</strong></h1>
{% endblock %}



{% block body_block %}

<div class="action_bar">
    <div class="new_entry">
        <a href="/imaging_system_app/add-project">New Project</a><br />
    </div>
</div>
<div class="action_bar_search">
    <div class="search_bar">
        <form action="{% url 'imaging_system_app:projects' %}" method="post">
            {% csrf_token %}
            Customer:
            {% if query %}
            <input name="project_customer" id="project_customer" type="text" value={{ query }}>
            {% else %}
            <input name="project_customer" id="project_customer" type="text" placeholder="Customer name">
            {% endif %}

            From:
            {% if datefrom %}
            <input name="project_from" id="project_from" type="date" value={{ datefrom }}>
            {% else %}
            <input name="project_from" id="project_from" type="date" placeholder="DD/MM/YYYY">
            {% endif %}
            To:
            {% if dateto %}
            <input name="project_to" id="project_to" type="date" value={{ dateto }}>
            {% else %}
            <input name="project_to" id="project_to" type="date" placeholder="DD/MM/YYYY">
            {% endif %}
            <button type="submit" name="submit">Search</button>
        </form>
    </div>
</div>

<table class="tables">
    <tr>
        <th>Date</th>
        <th>Customer</th>
        <th>Number of samples</th>
        <th>Status </th>
        <th></th>
    </tr>

    {% if projects %}
    {% for p in projects %}
    <tr>
        <td id="left_corner"> {{p.project_date}} </td>
        <td> {{p.cust_id.cust_name}} </td>
        <td> {{p.num_samples}} </td>
        <td> {{p.get_status_display}} </td>
        <td></td>
        <td> <a href="{% url 'imaging_system_app:edit-project' p.project_id %}" class="table_buttons"> Edit</a></td>
        <td id="right_corner"> <a href="{% url 'imaging_system_app:project-details' p.project_id %}"
                class="table_buttons"> View </a></td>
    </tr>
    {% endfor %}

    {% else %}
    <a href="/">
        <div class="content_entry">
            <strong>
                <h2>There are no projects present.</h2>
            </strong> <br>
        </div>
    </a>
    {% endif %}
</table>

{% endblock %}