{% extends 'imaging_system_app/base.html' %}
{% load static %}

{% block title_block %}
- Services
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'content.css' %}">
{% endblock %}

{% block pagetitle %}
<h1><strong> Services </strong></h1>
{% endblock %}

{% block body_block %}

<div class="action_bar">
	<div class="new_entry">
		<a href="/imaging_system_app/add-service">New service</a><br />
	</div>
</div>
<div class="action_bar_search">   
	<div class="search_bar">
		<form action="{% url 'imaging_system_app:services' %}" method="post">
			{% csrf_token %}
			{% if query %}
			<input name="service_name" id="service_name" type="text" value={{ query }}>
			{% else %}
			<input name="service_name" id="service_name" type="text" placeholder=" Search for a service..">
			{% endif %}
			<button type="submit" name="submit" class="submit_buttons">Search</button>
		</form>
	</div>
</div>

	{% if services %}
	<table class="tables">
		<tr>
			<th>Name</th>
			<th>Normal</th>
			<th>External</th>
		</tr>
		{% for s in services %}
		<tr>
			<td id="left_corner">{{ s.name }}</td>
			<td> £ {{ s.normal_price }}</td>
			<td> £ {{ s.external_price }}</td>
			<td id="right_corner"> <a href="{% url 'imaging_system_app:edit-service' s.service_id %}" class="table_buttons"> Edit</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<a href="/">
			<strong>
				<h2>There are no services present.</h2>
			</strong> <br />
	</a>
	{% endif %}

	{% endblock %}