.content_entry {
    position:relative;
    vertical-align: text-top;
    text-align: left;
    left: 20%;
    font-family: 'Poppins';
    font-size: 15px;
}

th{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: bold;
}

td{
    font-family: 'Poppins';
    font-size: 16px;
}

.content_list{
    position: absolute;
    margin-top: 10%;
}