.content_to_edit{
   position: relative;
   left: 2%;
   width: 90%;
   top: 5%;

}

.columns{
    display: flex;
    border-radius: 30px;
    background-color: whitesmoke;
}

.column1,.column2{
    flex-direction:column;
    flex: 1 1;
    left: 5%;
}

.column1{ 
    position: relative;
    left:5%;
}

.row2, .row3{
    border-radius: 30px;
    background-color: whitesmoke;
}

.row2_content, .row3_content{
    position:relative;
    left:5%;
}

h2, h1{
    font-family: 'Poppins';
}

input, select{
    border-radius: 30px;
    padding: 1em;
    background-color: #f9f9f9;
}

.save_bar{
    position: relative;
    top: 10%;
    padding: 1em;
}

button.save_changes{
    background-color: #FBA138;
    border-radius: 30px;
    border: #FBA138;
    text-align: center;
    padding: 1em;
    width: max-content;
    height: min-content;
    position: relative;
    top: 10%;

}

button.save_changes:hover{
    background-color: #fc8600;
}

.buttonText{
    color: white;
    font: bold;
}
