.columns{
    display: flex;
}
.column1{
    flex-direction: column;
    flex: 1 1;

}

.column2{
    flex-direction: column;
    flex: 1 1;
}

.table_title{
    font-size: 15px;
}

.tr{
    font-size: 15px;
}

.td{
    font-size: 15px;
}

.th{
    font-size: 15px;
}
