body{
    font-family: 'Poppins';
    display:flex;
    background-color: #f6f6f6;
}
  
.centre_box{
    padding: 0.5%;
    border: 5px solid #0071BC;
    border-radius: 10px;
    background-color: #0071BC;
    color: white;
    margin:auto;
    font-size: 1.25rem;
}

input{
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3.5rem;
    padding: 0%;
}

a{
    color: white;
}

.action_bar{
    display: flex;
}

.action_bar_item{
    flex-direction: column;
    flex: 1 1 auto;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f6f6f6;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.action_bar_item:hover{
    background-color: #004879;
    border-color: #004879;
    color: white;
}

[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0px;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

.logo_login{
	width: 10%;
	height: 10%;
	background-color: #f6f6f6;
	padding: 1%;
}